@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

.container {
  width: 90%;
  margin: auto;
  justify-content: center;
  text-align: center;
}

.list {
  list-style: none;
  font-size: 20px;
  display: flex;
  color: white;
  flex-wrap: wrap;
  text-align: center;
}

.list-item {
  background: #333;
  padding: 10px;
  margin: 10px;
  width: 45%;
  border: 2px solid gray;
}

.input-field {
  padding: 10px;
  outline: none;
  border-bottom: 2px solid #333;
}

@media screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
  .list {
    margin-left: -1.5rem;
  }
  .list-item {
    width: 100%;
  }
}
